<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>


<body>

  <div id="app">
    <input type="text" v-model="keyword">
    <table>
      <tr v-for="users in filter_users" :key="users.id">
        <td v-text="users.name"></td>
      </tr>
    </table>

    </div>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          keyword: '',
          users: [
            {
              id: 1,
              name: 'アンパンマン'
            },
            {
              id: 2,
              name: 'バイキンマン'
            },
            {
              id: 3,
              name: '食パンマン'
            },
            {
              id: 4,
              name: 'カレーパンマン'
            },
            {
              id: 5,
              name: 'カバオくん'
            }
          ]
        },
        computed: {
          filter_users: function () {
            var users = [];
            for (var i in this.users) {
              var user = this.users[i];
              if (user.name.includes(this.keyword)) {
                users.push(user);
              }
            }
            return users;
          }
        },
        
      });

    </script>
</body>
</html>
